<section class="bg-gra-03 {{isOtp==false?'':'vh-100'}}">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <div *ngIf="!isOtp">

                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up for homeowner</p>

                  <form class="mx-1 mx-md-4" [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="fullName" name="fullName" class="form-control" formControlName="fullName"
                                 placeholder="Full Name" [(ngModel)]="signUpModel.fullName" required
                                 [ngClass]="{ 'is-invalid': submitted && f['fullName'].errors }"/>
                          <div *ngIf="submitted && f['fullName'].errors" class="invalid-feedback">
                            <div *ngIf="f['fullName'].errors['required']">Full Name is required</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="text" id="username" name="username" class="form-control" formControlName="username"
                                 placeholder="Username" [(ngModel)]="signUpModel.username" required
                                 [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"/>
                          <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                            <div *ngIf="f['username'].errors['required']">Username is required</div>
                            <div *ngIf="f['username'].errors['minlength']">
                              Username must be at least 6 characters
                            </div>
                            <div *ngIf="f['username'].errors['maxlength']">
                              Username must not exceed 20 characters
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="email" id="email" name="email" class="form-control" formControlName="email"
                                 placeholder="Email" [(ngModel)]="signUpModel.email" required
                                 [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"/>
                          <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                            <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-phone fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" formControlName="phoneNumber"
                                 placeholder="Phone Number" [(ngModel)]="signUpModel.phoneNumber" required
                                 [ngClass]="{ 'is-invalid': submitted && f['phoneNumber'].errors }"/>
                          <div *ngIf="submitted && f['phoneNumber'].errors" class="invalid-feedback">
                            <div *ngIf="f['phoneNumber'].errors['required']">Phone Number is required</div>
                            <div *ngIf="f['phoneNumber'].errors['minlength'] || f['phoneNumber'].errors['maxlength']">
                              Phone Number must be at least 11 digit
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="password" name="password" class="form-control" formControlName="password"
                                 placeholder="Password" [(ngModel)]="signUpModel.password" required
                                 [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"/>
                          <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                            <div *ngIf="f['password'].errors['minlength']">
                              Password must be at least 6 characters
                            </div>
                            <div *ngIf="f['password'].errors['maxlength']">
                              Username must not exceed 40 characters
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="form-outline flex-fill mb-0">
                          <input type="password" id="repeatPassword" name="repeatPassword" class="form-control" formControlName="repeatPassword"
                                 placeholder="Repeat password" [(ngModel)]="signUpModel.repeatPassword" required
                                 [ngClass]="{ 'is-invalid': submitted && f['repeatPassword'].errors }"/>
                          <div *ngIf="submitted && f['repeatPassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['repeatPassword'].errors['required']">
                              Confirm Password is required
                            </div>
                            <div *ngIf="f['repeatPassword'].errors['matching']">
                              Confirm Password does not match
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="form-group form-check">
                      <div class="form-check d-flex justify-content-center mb-5">
                        <div class="form-outline flex-fill mb-0">
                          <input class="form-check-input me-2" type="checkbox" value="" id="acceptTerms"
                                 formControlName="acceptTerms" (click)="agreeToTheStatements()"/>
                          <label class="form-check-label" for="acceptTerms">
                            I agree all statements in <a href="#!">Terms of service</a>
                          </label>
                        </div>

                      </div>
                    </div>

                    <div class="form-group">
                      <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                        <button type="submit" class="btn btn-primary btn-lg sign-up" [disabled]="!isAgree">Register</button>
                      </div>
                    </div>
                  </form>
                </div>

                <div *ngIf="isOtp">
                  <app-verify-otp [verificationId]="verificationId" [signUpModel]="signUpModel"></app-verify-otp>
                </div>

              </div>
              <div id="sign-up-button"></div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://img.freepik.com/premium-vector/house-owner-gives-key-tenant_701961-829.jpg?w=2000"
                     class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
