<section class="vh-100 bg-gra-03" >
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">User Type</p>

                <div class="align-items-center mx-1 mx-md-4">
                  <div class="d-flex flex-row mb-4">
                    <button class="btn btn-dark ms-3" style="background-color: #AF6BD4;"
                            [routerLink]="['homeowner']">
                      Homeowner
                    </button>
                    <button class="btn btn-dark ms-3" style="background-color: #AF6BD4;"
                            [routerLink]="['tenant']">
                      Tenant
                    </button>
                  </div>
                </div>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://img.freepik.com/premium-vector/house-owner-gives-key-tenant_701961-829.jpg?w=2000"
                     class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
