<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #AF6BD4;">
  <div class="container-fluid">
    <div>
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <a class="navbar-brand" href="/">TMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="#">Houses</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link" href="#" tabindex="-1">Help</a>
      </div>
    </div>
    <button class="btn btn-light ms-3" [routerLink]="['login']">Login</button>
    <button class="btn btn-light ms-3" [routerLink]="['sign-up']">Sign Up</button>
  </div>
</nav>
