<nav class="navbar navbar-expand-lg navbar-dark bg-gra-03">
  <div class="container-fluid">
    <div>
      <i class="fa-3x fa-solid fa-house"></i>
    </div>
    &nbsp;&nbsp;&nbsp;
    <a class="navbar-brand" href="/">TMS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link {{containKeyWord('')?'active':''}}" aria-current="page" href="/">Home</a>
        <a class="nav-link {{containKeyWord('house')?'active':''}}" href="house">House</a>
        <a class="nav-link {{containKeyWord('about')?'active':''}}" href="#">About</a>
        <a class="nav-link {{containKeyWord('help')?'active':''}}" href="#" tabindex="-1">Help</a>
      </div>
    </div>
    <div *ngIf="!isAuthenticateUser">
      <button class="btn btn--green" [routerLink]="['login']">Login</button>
      <button class="btn btn--green" [routerLink]="['sign-up']">Sign Up</button>
    </div>
    <div *ngIf="isAuthenticateUser">
      <i class="fa-lg fa-solid fa-user"></i>
      <span class="avatar" [innerHTML]="userIcon"></span>
      <button class="btn btn--red" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
