<footer>

  <div class="subscribe-cta-wrapper bg-gra-03">
    <div class="container narrow">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column justify-content-center align-items-start subscribe-cta-holder">
            <div class="subscribe-cta-text col-lg-12">
              <h2>Ease your tenant management works with the Tenant Management System</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-5  col-md-5 col-lg-3 logo-copyright d-flex align-items-start flex-column order-4 order-lg-1">

            <div class="company-logo mb-auto">
              <div>
                <i class="fa-5x fa-solid fa-house"></i>&nbsp;&nbsp;&nbsp;TMS
              </div>
            </div>
          </div>

          <div class="col-sm-7 col-md-7 col-lg-3 order-3 order-lg-4">
            <ul class="list-group">
              <li class="list-group-item list-header">Tenant Management System</li>
              <li class="list-group-item"><a href="#" target="_blank">About Us</a></li>
              <li class="list-group-item"><a href="#" target="_blank">Help & Support</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--  <div class="company-info-wrapper bg-gra-03">-->
<!--    <div class="container narrow">-->
<!--      <div class="row">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
</footer>
