<div class="container-xl px-4 mt-4">
  <div class="row">

    <div class="col-lg-4 mb-4">
      <!-- Billing card 1-->
      <div class="card h-100 border-start-lg border-start-primary">
        <div class="card-body">
          <div *ngIf="duePayment">
            <div class="small text-muted">Current monthly bill</div>
            <div class="h3">{{amount}} ৳</div>
            <a class="text-arrow-icon small" (click)="makePayment()">
              Switch to pay monthly billing
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="feather feather-arrow-right">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
              </svg>
            </a>
          </div>
          <div *ngIf="!duePayment">
            <div class="small text-muted">Current monthly bill</div>
            <div class="h3">Paid</div>
          </div>
        </div>
      </div>
    </div>

    <!-- Billing history card-->
    <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex justify-content-center flex-row">
          <!-- header card-->
          <div>Transaction History</div>
        </div>
      </div>
      <div class="card-body p-0">
        <!-- Billing history table-->
        <div class="table-responsive table-billing-history">
          <table class="table mb-0">
            <thead>
            <tr>
              <th class="border-gray-200" scope="col">Transaction ID</th>
              <th class="border-gray-200" scope="col">Date</th>
              <th class="border-gray-200" scope="col">Time</th>
              <th class="border-gray-200" scope="col">Amount</th>
              <th class="border-gray-200" scope="col">Memo</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let transaction of transactionList">
              <td>{{transaction?.Id}}</td>
              <td>{{transaction?.TransactionDate |date:'dd MMMM yyyy'}}</td>
              <td>{{transaction?.TransactionDate |date:'h:mm:ss a'}}</td>
              <td>{{transaction?.TransactionAmount}} ৳</td>
              <td>
                <button class="btn btn-success btn-sm" type="button btn-sm" (click)="downloadMemo(transaction?.Id)">download pdf</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
